:root {
  --background: #ffffff;
  --foreground: #111827;

  --max-width: 1280px;
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  --font-size: 10px;

  --black-20: rgba(0, 0, 0, 0.2);
  --black-80: rgba(0, 0, 0, 0.8);
  --blue-20: rgba(0, 122, 255, 0.2);
}

//@media (prefers-color-scheme: dark) {
//  :root {
//    --background: #0a0a0a;
//    --foreground: #ededed;
//  }
//}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: var(--font-size, 10px);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family), serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

//@media (prefers-color-scheme: dark) {
//  html {
//    color-scheme: dark;
//  }
//}
